<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GET and POST</title>
  </head>
  <body>
    <main>
      <h1>GET and POST Requests</h1>
      <hr />
      <h2>GET Request</h2>
      <form action="http://localhost:3000/pitotoy" method="get">
        <input type="text" name="meat" id="" />
        <input type="number" name="qty" id="" />
        <button>Submit</button>
      </form>
      <h2>POST Request</h2>
      <form action="http://localhost:3000/pitotoy" method="post">
        <input type="text" name="meat" id="" />
        <input type="number" name="qty" id="" />
        <button>Submit</button>
      </form>
      <hr />
      <h2>Here are your <%= qty %>x <%= meat %></h2>
    </main>
  </body>
</html>
